.vantagens-container {
  margin: 0 0 80px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: rgba(204, 215, 234, 0.3);
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}


.vantagem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.thumb-container {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-size: contain;
  margin: 0px 50px 10px 50px;
}

.vantagem-text-container {
  max-width: 200px;
  margin-top: 5px;
}

.vantagem-title-container {
  font-weight: 600;
}
