.ais-action-button {
  padding: 30px 40px 30px 40px;
  font-size: 1.2em;
  background-color: white;
  color: black;
  margin: 10px;
  width: 280px;
  text-decoration: none;
}

.ais-action-button:hover {
  text-decoration: none;
  color: #4286f4;
  background-color: black;

}
