.th-title {
  font-size: 3em;
  text-align: left;
  margin-bottom: 20px;
}

.th-container {
  margin-top: 150px;
}


.trusted-logo {
  width: 300px;
  height: 300px;
}


@media screen and (max-width: 420px) {
  .trusted-logo {
    width: 175px;
    height: 175px;
  }
}
