.item-container {
  display: flex;
  justify-content: flex-start;
  margin: 40px;
  background-color: white;
  border-radius: 18%;
  max-width: 100%;
}

.item-image-container {
  margin-left: 100px;
}

.item-container:hover {
  filter: invert(75%);
}

.item-image {
  width: 380px;
  height: 380px;
  border-radius: 50%;
}

.item-description {
  margin: 100px;
  margin-top: 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 100;
}


@media screen and (max-width: 420px) {

  .item-container {
    margin: 0;
    flex-direction: column;
  }

  .item-image-container {
    margin-left: 10px;
  }

  .item-image {
    width: 250px;
    height: 250px;
    margin: 10px;
  }

  .item-description {
    font-size: 2em;
    margin: 10px;
  }
}
