.video-full-video-container {
  width: 100%;
  height: 800px;
}

.video-full-video {
  width: 100%;
  height: 100%;
}


.video-full-button-container {
  margin: 60px;

}

.video-full-button {
  border-radius: 20px;
  padding: 40px;
  color: #9F558C;
  border: 2px solid #9F558C;
}

.video-full-button:hover {
  text-decoration: none;
  filter: brightness(1.8);
  color: #000000;
}
