.customers-container {
  display: flex;
  justify-content: space-around;
  margin: 60px;
}

.customers-container-title {
  text-align: center;
}

.customer-url {
  font-size: 1.2em;
}

.customer-url > a:hover {
  text-decoration: none;
  color: #000000;
}

.customer-image {
  max-width: 100px;
  max-height: 80px;
  filter: grayscale(100%);
}

.customer-image:hover {
  filter: grayscale(0);

}

.title-customers {
  margin-top: 10px;
  margin-right: 20px;
  color: #CCCCCC;
}


@media screen and (max-width: 420px) {
  .customers-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .customer-image {
    padding-left: 10px;
    padding-top: 10px;
  }

  .customer-container {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 321px) {
  .customers-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .customer-image {
    padding-left: 15px;
    padding-top: 15px;
  }
}
