.customers-container {
  display: flex;
  align-items: center;

}


.transformando {
  margin-left: -160px;
  padding-top: 100px;
  color: #4286f4;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 1.5s;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;

}

.dinossauro-ra {
  position: relative;
  margin-top: 200px;
  width: 160px;
  margin-left: -297px;
  height: auto;
}

.dinossauro-celular {
  float: left;
  margin-top: 20px;
  width: 320px;
  height: auto;
}

.exploradores {
  margin-left: 100px;
  margin-top: 30px;
  color: #4286f4;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 4s;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  width:100%;
}

.home-action-buttons-container {
  display: flex;

}




@media screen and (max-width: 380px) {

  .transformando {
    padding-top: 200px;
    margin-left: -500px;
    font-size: 0.4em;
    max-width: 100%;
  }

  .exploradores {
    margin-left: -200px;
    font-size: 0.4em;
    max-width: 100%;
  }
}
