.text-container {
  float: right;
  margin-right: 190px;
  font-size: 2em;
}
.text-container-title {
  color: #FA3A00;
  text-shadow: -4px 3px #FFFFFF;
  font-family: 'Passion One', cursive;
  font-size: 5em;
}

.text-container-content {
  width: 400px;
  font-family: 'Roboto' sans-serif;
  font-size: 3.5em;
  font-weight: 100;
  margin-left: 200px;
}

.button-container-full {
  padding-top: 100px;
}


.button-full {
  padding: 25px;
  color: #FA3A00;
  background-color: white;
  border: 2px solid #FA3A00;
  text-decoration: none;
}

.button-full:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FA3A00;
  border: 2px solid #FA3A00;
}

.button-full:visited {
  text-decoration: none;
  color: black;
}

.image-full-container {
  width: 100%;
  height: 600px;
  margin-right: 0;
}

@media screen and (max-width: 420px) {
  .image-full-container {
    height: 500px;
    width: 100%;
  }

  .text-container {
    margin-right: 0;
    text-align: center;
  }

  .text-container-title {
    color: #FA3A00;
    text-shadow: -4px 3px #FFFFFF;
    font-family: 'Passion One', cursive;
    font-size: 3em;
  }

  .button-container-full {
    padding-top: 150px;
  }
}

@media screen and (max-width: 380px) {
  .image-full-container {
    height: 430px;
    width: 100%;
  }

  .text-container {
    margin-right: 0;
    text-align: center;
  }

  .text-container-title {
    color: #FA3A00;
    text-shadow: -4px 3px #FFFFFF;
    font-family: 'Passion One', cursive;
    font-size: 2.55em;
    margin-left: 75px;
  }


  .text-container-content {
    width: 375px;
  }
  .button-container-full {
    padding-top: 150px;
    margin-left: 75px;
  }
}
