.half-container {
  display: flex;
  justify-content: space-around;
}

.left {
  width: 50%;
  height: 600px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-text-left {
  height: 600px;
  width: 50%;
}


.content-image-left {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 2.6em;
  margin-top: 50px;
}

.title {
  color: white;
  font-size: 4em;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;

}


.button {
  padding: 25px;
  color: white;
  border: 2px solid white;
}

.button:hover {
  text-decoration: none;
  color: #4286f4;
  border: 2px solid #4286f4;
}


@media screen and (max-width: 420px) {
  .half-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .image-text-left {
    width: 100%;
  }
  .left {
    width: 100%;
    justify-content: center;
  }

  .content-image-left {
    font-size: 2em;

  }

  .button-container {
    margin-top: 100px;
  }
  .title {
    font-size: 3em;
  }

}
