.half-container-right {
  display: flex;
  justify-content: space-around;
}


.right {
  width: 50%;
  height: 600px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 2.6em;
  margin-top: 50px;
}


.button-container-right {
  margin-top: 100px;
}


.image-text-right {
  height: 600px;
  width: 50%;

}


@media screen and (max-width: 420px) {
  .half-container-right {
    flex-direction: column;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
  }
  .image-text-right {
    width: 100%;
    margin-left: -10px;
    margin-right: 0;
    margin-left: 0;
  }
  .left {
    width: 100%;
  }
  .content {
    text-align: center;
    font-size: 2em;
  }

}
@media screen and (max-width: 420px) {
  .half-container-right {
    flex-direction: column-reverse;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
  }
  .image-text-right {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .left {
    width: 100%;
    margin: 0;
  }
  .content {
    text-align: center;
    font-size: 1.55em;
  }
}
